@inherits LayoutComponentBase

<div class="page">
    <div class="@NavMenueCssClass">
        <div class="sidebar">
            <NavMenu />
        </div>
    </div>


    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/haevg-rz/Estimator" target="_blank">GitHub</a>
        </div>

        <div class="content px-4">
            @Body
        </div>

    </div>
</div>