@page "/createroom"
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<div>
    <div class="card-header" style="background: transparent">
        <h2> CreateGroup</h2>
    </div>
    <div class="leftcolumn">
        <div class="card">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="group, row" style="margin: 35px; width: 250px">
                            <input type="text" required @bind-Value="@Username" @bind-Value:event="oninput">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label style="margin: 35px">Your displayname</label>
                        </div>
                        <div class="row" style="margin: 35px">
                            <h6 style="margin-right: 10px; margin-top: 3px">Select modus:</h6>
                            <select class="minimal" style="width: 200px" required @bind-Value="@Type" @bind-Value:event="oninput">
                                <option>Fibonacci</option>
                                <option>T-Shirt</option>
                            </select>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="wrapper, row" style="margin: 35px">
                            <joinButton @onclick="CreateNewRoom">
                                <span>Create group</span>
                            </joinButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <p style="margin: 5px">Need help? Look here in our <a href="https://github.com/haevg-rz/Estimator/wiki/Admin" target="_blank">wiki</a>.</p>
        </div>
    </div>

</div>