@page "/Fibonacci/{RoomID}/{Username}"
@page "/Fibonacci/{RoomID}"

<div>
    <div class="card-header">
        <h3 style="alignment: center">Fibonacci-Estimator</h3>
    </div>
    <div class="leftcolumn">
        <div class="card">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <a class="estimateButton" style="margin: 5px">0</a>
                            <a class="estimateButton" style="margin: 5px">0,5</a>
                            <a class="estimateButton" style="margin: 5px">1</a>
                            <a class="estimateButton" style="margin: 5px">2</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="estimateButton" style="margin: 5px">3</a>
                            <a class="estimateButton" style="margin: 5px">5</a>
                            <a class="estimateButton" style="margin: 5px">8</a>
                            <a class="estimateButton" style="margin: 5px">13</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="estimateButton" style="margin: 5px">21</a>
                            <a class="estimateButton" style="margin: 5px">34</a>
                            <a class="estimateButton" style="margin: 5px">∞</a>
                            <a class="estimateButton" style="margin: 5px">☕</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="wrapper, col" style="margin-top: 35px">
                            <joinButton href="#">
                                <span>Estimate</span>
                            </joinButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <p style="color: gray">Username: @Username</p>
                <p style="color: gray">Room ID: @RoomId </p>
            </div>
        </div>

    </div>
    <div class="rightcolumn">

        @if (!UserSubscribed)
        {
            <div class="card">
                <div class="wrapper, row" @onclick="Login" style="margin-top: 35px">
                    <joinButton>
                        <span>Login</span>
                    </joinButton>
                </div>
            </div>
        }

        <div class="card">
            <div class="col">
                Some good locking diagrams
            </div>
        </div>
        <div class="card">
            <div class="wrapper2, col" style="margin: 35px">
                <leaveButton>
                    <span>Leave</span>
                </leaveButton>
            </div>

        </div>
    </div>
</div>