@page "/"

<div class="card-header">
    <h3>Home</h3>
</div>

<diy class="leftcolumn">
    <div class="card">
        <h5>Welcome to Estimator. The Estimator is an estimation tool for t-shirt sizes and Fibonacci numbers.</h5>
    </div>
    <div class="card">
        <h4>Tutorial:</h4>
        <h5>Voter:</h5>
        <h6>
            The page for the voters is called "join". On this page you write your displayname and the room Id in the textboxes.
            On the room page, you can vote if the host starts the vote. When the vote is over everyone gets the results.
            Do you need more detailed explanation?
            Look here in our <a href="https://github.com/haevg-rz/Estimator/wiki/Voter" target="_blank">wiki</a>
        </h6>
        <h5>Host:</h5>
        <h6>
            you can use the create page to start a voting. On the page "create room" you write your name in the textbox and you decide what you want to appreciate.
            You can open the next page with the "Create Room" Button. On this page you can start and close a vote. The host can also vote.
            Do you need more detailed explanation?
            Look here in our <a href="https://github.com/haevg-rz/Estimator/wiki/Host" target="_blank">wiki</a>
        </h6>
    </div>
</diy>
<div class="rightcolumn">
    <div class="card">
        <div class="col">
            <div class="row">
                <img src="Resources/about.png" alt="" height="6%" width="6%" style="margin: 5px"/>
                <div style="margin: 5px">You need more information?</div>
            </div>
            <div class="row">
                <a href="https://github.com/haevg-rz/Estimator/wiki" style="margin: 5px" target="_blank">Here is our Wiki!</a>
            </div>
        </div>

    </div>
    <div class="card">
        <a href="https://github.com/haevg-rz/Estimator" style="margin: 5px" target="_blank">Follow us on GitHub!</a>
    </div>
</div>