@page "/hostFibonacci/{RoomID}/{Username}"

<div>
    <div class="card-header" style="background: transparent">
        <h3 style="alignment: center">Fibonacci-Estimator</h3>
    </div>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <div class="row">
                    <a class="col">Room ID: RoomId</a>
                    <div class="wrapper3, col">
                        <copyButton style="right: 0">
                            <span>copy</span>
                        </copyButton>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <a class="estimateButton">0</a>
                            <a class="estimateButton">0,5</a>
                            <a class="estimateButton">1</a>
                            <a class="estimateButton">2</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="estimateButton">3</a>
                            <a class="estimateButton">5</a>
                            <a class="estimateButton">8</a>
                            <a class="estimateButton">13</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="estimateButton">21</a>
                            <a class="estimateButton">34</a>
                            <a class="estimateButton">∞</a>
                            <a class="estimateButton">☕</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="wrapper, col" style="margin-top: 35px">
                            <joinButton>
                                <span>Estimate</span>
                            </joinButton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="col">
                    <div>
                        <p style="color: gray">Username: Username</p>
                        <p style="color: gray">Room ID: RoomId </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h3>Result:</h3>
                <h5>comming soon... a good looking diagramm</h5>
            </div>

            <div class="card">
                <div class="col">
                    <div class="group, row">
                        <input type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Task-Name</label>
                    </div>

                    <div class="wrapper, row" style="margin-top: 35px">
                        <joinButton>
                            <span>Start Voting</span>
                        </joinButton>
                    </div>
                    <div class="wrapper2, row" style="margin-top: 35px">
                        <leaveButton>
                            <span>Close Voting</span>
                        </leaveButton>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="col">
                    <div class="wrapper2, row">
                        <leaveButton href="#">
                            <span>Close Group</span>
                        </leaveButton>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>