@page "/joinGroup"

@if (show)
{
    <div>
        <div class="card-header" style="background: transparent">
            <h3 style="alignment: center">JoinGroup</h3>
        </div>
        <div class="leftcolumn">
            <div class="card">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="group, col">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Your displayname</label>
                            </div>
                            <div class="group, col" style="margin-top: 35px">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Room ID (case-sensitiv)</label>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="wrapper, col" @onclick="SwitchPage" style="margin-top: 35px">
                            <joinButton href="#">
                                <span>Join</span>
                            </joinButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <p>Need help? Look here in our <a href="https://github.com/haevg-rz/Estimator/wiki/Admin">wiki</a>.</p>
            </div>
        </div>
    </div>
}

@if (!show)
{
    <div>
        <div class="card-header">
            <h3 style="alignment: center">Fibonacci-Estimator</h3>
        </div>
        <div class="leftcolumn">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a class="estimateButton" style="margin: 5px">0</a>
                                <a class="estimateButton" style="margin: 5px">0,5</a>
                                <a class="estimateButton" style="margin: 5px">1</a>
                                <a class="estimateButton" style="margin: 5px">2</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="estimateButton" style="margin: 5px">3</a>
                                <a class="estimateButton" style="margin: 5px">5</a>
                                <a class="estimateButton" style="margin: 5px">8</a>
                                <a class="estimateButton" style="margin: 5px">13</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="estimateButton" style="margin: 5px">21</a>
                                <a class="estimateButton" style="margin: 5px">34</a>
                                <a class="estimateButton" style="margin: 5px">∞</a>
                                <a class="estimateButton" style="margin: 5px">☕</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="wrapper, col" style="margin-top: 35px">
                                <joinButton href="#">
                                    <span>Estimate</span>
                                </joinButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div>
                    <p style="color: gray">Username: @Username</p>
                    <p style="color: gray">Room ID: @RoomId </p>
                </div>
            </div>

        </div>
        <div class="rightcolumn">
            <div class="card">
                <div class="col">
                    Some good locking diagrams
                </div>
            </div>
            <div class="card">
                <div class="wrapper2, col" @onclick="SwitchPage" style="margin-top: 35px">
                    <leaveButton href="#">
                        <span>Leave</span>
                    </leaveButton>
                </div>
            </div>
        </div>
    </div>
}