@page "/joinGroup"

<div>
    <h3>JoinGroup</h3>

    <div class="col" style="margin-top: 35px">
        <div class="group, col">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Your displayname</label>
        </div>
        <div class="group, col" style="margin-top: 35px">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Room ID (case-sensitiv)</label>
        </div>
        <div class="col">
            <div class="wrapper" style="margin-top: 35px">
                <joinButton href="#"><span>Join</span></joinButton>
            </div>
        </div>
    </div>


</div>

<div style="display: none">
    <div class="row">
        <div class="col">
            <a href="#" class="estimateButton">0</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">0,5</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">1</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">2</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#" class="estimateButton">3</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">5</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">8</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">13</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#" class="estimateButton">21</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">34</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">∞</a>
        </div>
        <div class="col">
            <a href="#" class="estimateButton">☕</a>
        </div>
    </div>
</div>

@code {

}