@page "/joinGroup"
@using System.Globalization

@if (show)
{
    <div>
        <h3>JoinGroup</h3>

        <div class="col" style="margin-top: 35px">
            <div class="group, col">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Your displayname</label>
            </div>
            <div class="group, col" style="margin-top: 35px">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Room ID (case-sensitiv)</label>
            </div>
            <div class="col">
                <div class="wrapper" @onclick="SwitchPage" style="margin-top: 35px">
                    <joinButton href="#">
                        <span>Join</span>
                    </joinButton>
                </div>
            </div>
        </div>
    </div>
}

@if (!show)
{
    <div>
        <h3 style="alignment: center">Fubonaci-Estimator</h3>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a href="#" class="estimateButton" style="margin: 5px">0</a>
                        <a href="#" class="estimateButton" style="margin: 5px">0,5</a>
                        <a href="#" class="estimateButton" style="margin: 5px">1</a>
                        <a href="#" class="estimateButton" style="margin: 5px">2</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#" class="estimateButton" style="margin: 5px">3</a>
                        <a href="#" class="estimateButton" style="margin: 5px">5</a>
                        <a href="#" class="estimateButton" style="margin: 5px">8</a>
                        <a href="#" class="estimateButton" style="margin: 5px">13</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#" class="estimateButton" style="margin: 5px">21</a>
                        <a href="#" class="estimateButton" style="margin: 5px">34</a>
                        <a href="#" class="estimateButton" style="margin: 5px">∞</a>
                        <a href="#" class="estimateButton" style="margin: 5px">☕</a>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapper, col" style="margin-top: 35px">
                        <joinButton href="#">
                            <span>Estimate</span>
                        </joinButton>
                    </div>
                </div>
            </div>
            <div class="col">
                Some good locking diagrams
            </div>
        </div>

        <div class="row" style="position: absolute; bottom: 0; margin: 5px">
            <div>
                <p style="color: gray">Username: @Username</p>
                <p style="color: gray">Room ID: @RoomId </p>
            </div>
        </div>

        <div class="row" style="position: absolute; bottom: 0; right: 0; margin: 5px">
            <div class="wrapper2, col" @onclick="SwitchPage" style="margin-top: 35px">
                <leaveButton href="#">
                    <span>Leave</span>
                </leaveButton>
            </div>
        </div>

    </div>
}